<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>34815207882-19n0fmot3dvp7a48b9b9ehbba0md7f5v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.34815207882-19n0fmot3dvp7a48b9b9ehbba0md7f5v</string>
	<key>API_KEY</key>
	<string>AIzaSyAqYZU2F-gkgKv9ccTfpTT6nqD6l5QY-h4</string>
	<key>GCM_SENDER_ID</key>
	<string>34815207882</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.manangatangy.broke</string>
	<key>PROJECT_ID</key>
	<string>broke-c38d3</string>
	<key>STORAGE_BUCKET</key>
	<string>broke-c38d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:34815207882:ios:1cacdb75c2d54725</string>
	<key>DATABASE_URL</key>
	<string>https://broke-c38d3.firebaseio.com</string>
</dict>
</plist>